body {
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    color: #090910;
}

a {
    font-size: 1em;
    font-weight: 700;
    color: #090910;
    text-decoration: none;
    margin-bottom: 0;
    cursor: pointer;
    transition: all .3s ease;
}

h5 {
    font-weight: 350;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 0em;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
}

.nav-link {
    padding: 0.75rem 5rem;
}


/* .col-3 {
    position: absolute;
    top: auto;
    right: auto;
    width: 999em;
    height: 100%;
    background: #f5f5fa;
} */


/* .col-3 .logo {
    padding: 1.75em 1.75em 1.25em 1.75em
}

.col-9 {
    padding-left: 32em;
    padding-top: 7em;
} */

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .logo {
    padding: 1.25em 5em 1em 5em
}

.wrapper .sidebar {
    width: 27em;
    height: 100%;
    background: #f5f5fa;
    padding: 30px 0px;
    position: fixed;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 30em;
    margin-right: 5em;
}

.wrapper .main_content .header {
    font-size: xx-large;
    padding: 1.5em 0.75em 1em 0.75em;
    background: #fff;
    color: #0c0c0c;
    border-bottom: 1px solid #f5f5fa;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #0a0a0a;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}


/* .wrapper .main_content .info .highlight {} */

.highlight {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f5f5fa;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    font-weight: 400;
    font-size: 15px;
}